<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="manifest" href="[[url_for('static', filename='manifest.json')]]">
    <link rel="stylesheet" href="[[url_for('static', filename='css/common.css')]]">
    <link rel="stylesheet" href="[[url_for('static', filename='css/main.css')]]">
    <link rel="stylesheet" href="[[url_for('static', filename='css/header.css')]]">
    <link rel="stylesheet" href="[[url_for('static', filename='css/menu.css')]]">
    <link rel="stylesheet" href="[[url_for('static', filename='css/content.css')]]">
    <title>UI Prototype</title>
</head>
<body>
    <div id="header" class = "row">
        <div id="menuButtonWrapper" class="col-1">
            <button aria-label="Menu" id="menuButton" class="btn btn-success" onclick="menuDisp()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg></button>
        </div>
        <div id="logoContainerHeader" class="col-9">
            <a href="">
                <img src="[[url_for('static', filename='icon.png')]]" alt="Logo", id="logoHeader">
            </a>
        </div>
    </div>
    <div id="main">
        <div id="menuPlaceHolder">
            <div id="menu">
                <div id="menuCloseButton" onclick="menuHide()" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg></div>
                <div style="text-align:center; width: 100%;">
                    <br>
                    <h1>TEST UI!</h1>
                    <br>
                </div>
                <ul id="menuChoiceList">
                    {% for choiceItem in ["Device Status", "Model Selection", "Model Status", "Data Visualization", "Account", "logout"]%}
                        <li>
                            <a href="/[[choiceItem]]" class="choice btn btn-light" style="width: 100%;">
                                [[choiceItem]]
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="contentHeader">
                <a href=""><div id="uiNameContentHeader"><span class="appName"></span> > Device Status</div></a>
            </div>
            {% for i in range(1,20) %}
                This is content <br> <br>
            {% endfor %}
        </div>
    </div>
    <div id="footer">
        this is footer<br>
        this is footer<br>
    </div>
</body>
<script src="[[url_for('static', filename='js/main.js')]]"></script>
<script src="[[url_for('static', filename='js/menu.js')]]"></script>
<script src="[[url_for('static', filename='js/common.js')]]"></script>
</html>